// =============== Nav Bar Section ===============
.navBarIcons{height: 12px; margin: 18px 20px; margin-left: -115px;}

ion-label{
     font-size: 18px;
     font-weight: bold;
}

// =============== Body Section ===============
.content{margin: 10px; text-align: center;}
h2{margin: 10px 0;}
img{width: 80%; display: block; margin: 20px auto;}
